{% extends "base.html.twig" %}

{% block title %}
    Symfony Project
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenu sur mon Projet symfony</h1>
            <p class="lead">projet pour m'entrainer a symfony</p>
            <hr class="my-4">
            <p>commencer pour vous inscrire</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>

    <p>je suis un paragraphe</p>
{% endblock %}